<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Reservation System</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/style.css">
</head>
<h3>Conference Reservation System</h3>
<body>
<img src="/conference_reservation/templates/pictures/con1.jpg" width="300" height="200" title="con1">
<ul>
    <li><a href="/conference-list/">Conference Rooms list </a><br></li>
    <li><a href="/room/new/">Add Conference Room</a><br></li>
    <li><a href="/room/search/">Search Conference Room</a><br></li>

    </ul>
</body>
<footer>
    <address>Anna Bochenek (ania.maria.bochenek@gmail.com)</address>
</footer>
</html>